  <nav class="navbar">
    <a class="navbar-brand"><img src="./assets/images/SA-INTRANET.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">

      <span class="navbar-text">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link"><b>Login</b> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">support@squashapps.com</a>
          </li>
        </ul>
      </span>
    </div>
  </nav>
