/* You can add global styles to this file, and also import other style files */

.theme-clr {
  color: #3bc163 !important;
}


.heading {
  font-size: 37px;
  font-weight: 700;
}

.light-label {
  color: #a4a5a7
}

.cursor {
  cursor: pointer;
}
